body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    }
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width: 60%;
    padding: 10%;
    }
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(19, 145, 204));
    padding: 10px 30px;
    color:white;
    font-weight: 700;
    border-radius: 50px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
   background-image: url(images/exp-bg.png); 
   background-repeat: no-repeat;
   background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    padding-left: 30px;
    border-radius: 10%;
    box-shadow: 10px 10px 40px rgb(72, 94, 27);
    border-left: 10px solid yellowgreen;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(126, 196, 69), green);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(230, 198, 18),rgb(182, 233, 182));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}